# Ignorar TODAS las carpetas node_modules en cualquier ubicación
node_modules/

# O si quieres ignorar solo la de Main-Files (ruta relativa desde la raíz del repositorio)
/Main-Files/node_modules/

# Ignorar .next
/Main-Files/.next/

# Carpeta con files originales
Logo_files/